body{
    text-align: center;
  margin: 0;
  padding: 0;
  background-color: white;
}
 .container {
  
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black ;
}
.name{
    font-size:140%;
}
img{
    width: 30%;
    height: 10%;
    border-radius: 50%;
    object-fit: cover;
}
.container:hover{
    cursor:url("./pics/cookie_cursor.png"), auto;
}
.msg{
    font-style: oblique;
    font-size: large;
    display: block;
    margin-top: 30px;
}
h1, h2, h3 {
  margin: 5px 0px; /* reduce vertical space between headings */
}
button{
    margin-left:1%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: rgb(245, 245, 107);
    border: hidden;
    font-weight: bolder;
    font-size:medium;
}
button:hover{
cursor:pointer;
}
.btn:hover{
    box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.3);
}
.music-play{
    box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}
@media (max-width: 600px) {
    .container{
        margin: 50% auto;
  padding: 20px;
  width: 85%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black ;
    }
    .img{
    width: 35%;
    height: 20%;
    border-radius: 50%;
    object-fit: cover;
    }
button{
    margin-left:1%;
    margin-top: 4%;
    border-radius: 20px;
    background-color: rgb(245, 245, 107);
    border: hidden;
    font-weight: bolder;
    font-size:medium;
}
}